<% provide(:title, "Home")%>
<div class="center jumbotron">
	<h1>Welcome Home</h1>
	<%= link_to 'Sign up now', signup_path, class: "btn btn-lg btn-primary" %>	
</div>


<%= link_to image_tag("login-icon.png", alt: "logo"),
	"#" %>