<h1>My porfile <%=@user.name.split[0] %></h1>
<% p posts = @user.posts%>
<div class="container">
	<div class="row">
		<% if posts.count == 0 %>
			<h1>Aun no tienes Posts</h1>
		<% end %>
		<% posts.reverse.each do |post|%>
			<div class="col-sm-12">
		    <div class="card text-center">
		      <div class="card-body">
		        <p class="card-text"><%= post.body %></p>
		        <% tags = Post.find_by(id: post.id).tags %>
		        <% tags.each do |tag| %>
		        	<%= link_to "#{tag.body}", tag_path(tag.id), class: "btn btn-primary" %>
		        <% end %>
		      </div>
		    </div>
		  </div>
		<% end %>
	</div>
</div>