<h4 class="text-center">Create a new post</h4>

<div class="row">
	<div class="col-md-6 col-md-offset-3 ">
		<%= form_for(Post.new, url: posts_path, data: {temp: posts_path}) do |f| %>

			<%= f.text_area "body", class: "form-control" %>

			<%= f.submit "Create post", class: "btn btn-primary col-md-6 col-md-offset-3"%>
		<% end %>
	</div>
</div>
